.generator {
  display: flex;
  justify-content: center;
  float: left;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  align-content: center;
  background: #fff;
  border: 1px solid #ccc;
}

.ball {
  margin: 3px;
}
